.rino-button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    font-family: inherit;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    // SIZING STYLES
    &.rino-button-size-sm {
        height: 1.6rem;
        padding: 0 0.6rem;
        font-size: 0.8rem;
    }
    &.rino-button-size-md {
        height: 2.2rem;
        padding: 0 1rem;
    }
    &.rino-button-size-lg {
        height: 2.8rem;
        padding: 0 1.4rem;
        font-size: 1.2rem;
    }

    // APPEARANCE STYLES
    &.rino-button-appearance-filled {
        &.primary {
            background-color: $primary;
            color: choose-contrast-color($primary);
            &:hover {
                background-color: hover-color($primary);
            }
        }
        &.secondary {
            background-color: $secondary;
            color: choose-contrast-color($secondary);
            &:hover {
                background-color: hover-color($secondary);
            }
        }
    }

    &.rino-button-appearance-outlined {
        background-color: $white;
        &.primary {
            color: $primary;
            border: 1px solid $primary;
        }

        &.secondary {
            color: $secondary;
            border: 1px solid $secondary;
        }
    }

    &.rino-button-appearance-plain {
        background-color: transparent;
        font-weight: 500;
        &.primary {
            color: $primary;
        }

        &.secondary {
            color: $secondary;
        }
    }

    // Icon styles
    .icon-button-container {
        padding-right: 0.5rem;
    }
}
