.rino-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;

        /* On mouse-over, add a bigger border */
        &:hover input ~ .checkmark {
            border-width: 0.1rem;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.4rem;
        width: 1.4rem;
        background-color: $white;
        border: 0.1rem solid $gray;
        border-radius: 0.4rem;
    }

    /* On mouse-over, add a bigger border */
    &:hover input ~ .checkmark {
        border-width: 0.2rem;
    }

    /* When the checkbox is checked, add a primary background */
    input:checked ~ .checkmark {
        background-color: $primary;
        border: none;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
        display: block;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: '';
        position: absolute;
        display: none;
    }

    /* Style the checkmark/indicator */
    .checkmark:after {
        left: 8px;
        top: 4px;
        width: 6px;
        height: 12px;
        border: solid $white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}
